#login-form{
display:flex;
align-content: space-evenly;
align-items:center;
flex-direction: column;
}
#wrong{
    color:red;
    display: none;
}
.form-label{
    width:400px;
}
#rem{
    display: flex;
    flex-direction: row;
    gap:3vw;
}